@import url("/styles");
@import url("/styles/header_style");
@import url("/styles/header_gridflex");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-de-fundo: #EBECEE;
    --branco: whitesmoke;
    --laranja: #FE6613;
    --fonte-principal: "Roboto", sans-serif;
    --azul: #1B2653;
    --preto: #000000;
    --cinza: #787878;
    --hover: #4F8DF9;
}


.container__3 {
    font-family: var(--fonte-principal);
    color: var(--azul);
}


.container__imagem_corretores {
    overflow: hidden;
}

.imagem__corretora,
.imagem__corretor {
    padding: 1px;
    transition: 0.5s all ease-in-out;
}


.imagem__corretora:hover,
.imagem__corretor:hover {
    transform: scale(1.1);
}

.texto__corretor {
    font-family: var(--fonte-principal);
    font-size: 1.3rem;
    font-weight: bold;
}

.texto__corretor_min {
    font-family: var(--fonte-principal);
}

.texto__link {
    color: var(--laranja);
}